{%extends 'base.html' %}{%block headerIntro%}Stuttgarter Kunst{%endblock headerIntro%} {%block headerText2%}Meine Kunst
{%endblock headerText2%} {%block headerText4%}Meine Kunst {%endblock headerText4%} {%block headerText3%} Meine
Kunst{%endblock headerText3%} {%block headerBild%}{{AboutMebild}} {%endblock headerBild%} {%block content%}
<section class="text">
  <h3>Biografische Daten</h3>
  <article class="bio">
    {% for head, text in aboutText %}
    <div class="bio">
      <h4>{{head}}</h4>
      {{text }}
    </div>
    {% endfor %}
  </article>
</section>
{%endblock content%}
