{%load static%}
{% load customFilters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      description="Acrylkunst, Acryl Bilder aus Stuttgart, Farbenfrohe Acrylmalerei auf Leinwand - Evita Nonnenmacher"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'website/style.css' %}" />
    {% comment %}
    <link rel="stylesheet" href="{%static 'website/bild.css' %}" />
    {% endcomment %}
    <style>
      {{colorVars}}
        nav a {color:{{farbeNavLinks}}}
        :root {
          --colorTextgrad1: {{farbeNavLinksGradient1}};
          --colorTextgrad2: {{farbeNavLinksGradient2}};
      }
    </style>
    <title>Acrylkunst von Evita Nonnenmacher</title>
  </head>
  <body style="{% block addBodyStyle %}background-color:{{farbeHintergrund}}{% endblock addBodyStyle %}">
    <div class="mainHomeImg">
      <div class="colostripes">
        <div style="background-color:{{farbeStripe1}};"></div>
        <div style="background-color:{{farbeStripe2}};"></div>
        <div style="background-color:{{farbeStripe3}};"></div>
        <div style="background-color:{{farbeStripe4}};"></div>
      </div>
      <header>{%include 'navbar.html'%}</header>
      <div class="sidebarColor2"></div>
      <div class="{{HeadTextClass}}">
        {% if about == True %} {% endif %}
        <h1 style="color:{{farbeIntro}};" class="headerIntro">{%block headerIntro%}{%endblock headerIntro%}</h1>
        <h1 style="color:{{farbeHeadVorname}};" class="name">{%block headerText%}{%endblock headerText%}</h1>
        {% if home == True %} {% endif %}
        <div class="evita">
          <h1
            style="background-color: {{farbeHeadNachnameOverlay}}; color: {{farbeHeadNachnameOverlay}}"
            class="firstH1 overlay"
          >
            {%block headerText4%}Nonnenmacher {%endblock headerText4%}
          </h1>
          <h1 style="color: {{farbeHeadNachnameOben}};" class="firstH1 border">
            {%block headerText2%}{%endblock headerText2%}
          </h1>
          <h1
            style="color: {{farbeHeadNachname}}; filter: drop-shadow(1px 0px 1px black);"
            class="firstH1 secondH1"
          >
            {%block headerText3%}{%endblock headerText3%}
          </h1>
        </div>
      </div>
      {% if galerie == True %}
      <div class="galerieContainer">
      {% for bild, height, width in bilderUndMase %}   
      {% if width > height|multiply:1.3 %}
      <img class="big galerieBild" src="{{bild.image}}" />  
      {% else %}
      <img class="galerieBild" src="{{bild.image}}" />
      {% endif %} 
      {% endfor %}
      </div>
      {% else %}
      <img class="{{HeadImgClass}}" src="{%block headerBild%}{%endblock headerBild%}" />
      {% endif %}
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
