{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'website/style.css' %}" />
    <link rel="stylesheet" href="{%static 'website/bild.css' %}" />
    <title>Document</title>
  </head>
  <body>
    {%include 'navbar.html'%}
    <header>
      <h1>{%block headerText%}HALLOOOO{%endblock headerText%}</h1>
      <img src="{%block headerBild%}{%endblock headerBild%}"/>
      {% block content %}{% endblock content %}
    </header>
  </body>
</html>
