{%extends 'base.html' %}{%block headerIntro%}Galerie{%endblock headerIntro%} {%block headerText2%}{{bildName}}
{%endblock headerText2%} {%block headerText4%}{{bildName}} {%endblock headerText4%} {%block headerText3%} {{bildName}}{%endblock headerText3%} 
{%block headerBild%}{{bild.image}}{%endblock headerBild%} 
{%block content%}
<div class="descSinglePic"><h3>Acryl auf Leinwand </h3><p>{{bildWidth}} cm x {{bildHeight}} cm</p> <h3>{{bildName}}</h3> <p class="descText">{{bildDesc}}</p></div>

{%endblock content%}
{% block imgDescription %}
<div class="descSinglePic">
    <h3>Acryl auf Leinwand </h3>
    <p>{{bildWidth}} cm x {{bildHeight}} cm</p>
    <h3>{{bildName}}</h3>
    <p class="descText">{{bildDesc}}</p>
</div>
{% endblock imgDescription %}