{%extends 'base.html' %}
{% block addStyle %}<style>
  body{background-color:{{farbe}}}
</style>{% endblock addStyle %}

{%block headerIntro%}Acrylkunst von {%endblock headerIntro%} {%block headerText%}Evita {%endblock headerText%} 
{%block headerText2%}Nonnenmacher {%endblock headerText2%} {%block headerText4%}Nonnenmacher {%endblock headerText4%} 
{%block headerText3%} Nonnenmacher{%endblock headerText3%} {%block headerBild%}{{homeBild}} {%endblock headerBild%} 
{%block content%} {%endblock content%}
