{%extends 'base.html' %} {%block headerIntro%}Acrylkunst von {%endblock headerIntro%} {%block headerText%}Evita
{%endblock headerText%} {%block headerText2%}Nonnenmacher {%endblock headerText2%} {%block headerText4%}Nonnenmacher
{%endblock headerText4%} {%block headerText3%} Nonnenmacher{%endblock headerText3%} {%block headerBild%}{{homeBild}}
{%endblock headerBild%} {%block content%}
<article class="text">
  <h2>{{h1}}</h2>
{% for head, text in text %}

<h3>{{head}}</h3>
  
  <p>{{text}}<p>

{% endfor %}
</div>

{%endblock content%}
