{%extends 'base.html' %} {%block headerIntro%}Acrylkunst von {%endblock headerIntro%} {%block headerText%}Evita
{%endblock headerText%} {%block headerText2%}Nonnenmacher {%endblock headerText2%} {%block headerText4%}Nonnenmacher
{%endblock headerText4%} {%block headerText3%} Nonnenmacher{%endblock headerText3%} {%block headerBild%}{{homeBild}}
{%endblock headerBild%} {%block content%}
<article class="text">
  <h2>Die Kunst der Acryl-Malerei</h2>
  <h3>Worauf sitzt der Fokus meiner Acrylkunst</h3>
  <p>
    In meiner künstlerischen Arbeit sind für mich die Aspekte Farbe, Form und der Prozess des Schaffens von besonderer
    Bedeutung.
  </p>
  <h3>Wie treffe ich eine Farbauswahl</h3>
  <p>
    Die Auswahl der Acryl-Farben ist zunächst intuitiv, abhängig auch von Eindrücken und der jeweiligen Stimmung, in der
    ich mich zum Zeitpunkt des Malens befinde.
  </p>
  <p>
    Ich bevorzuge helle, kräftige Acryl-Farben; diese sind mit Licht durchdrungen. Licht bedeutet für mich auch innere
    Energie und ich habe das Bedürfnis, dieser Energie in verschiedenen Farbqualitäten und Lichtstimmungen Ausdruck zu
    verleihen.
  </p>
  <h3>Wie hole ich mir Inspiration</h3>
  <p>
    Über die Arbeit von realen Impressionen und recht konkreten Bildern ausgehend entwickelte sich eine immer weiter
    gehende Abstraktion vom gegenständlichen bis zur reinen, abstrakten Form. Form ist dabei nicht geometrische,
    konstruierte Form; es entstehen in meiner Arbeit meist weiche, abgerundete Formen. Es gibt auch weiterhin Bilder,
    die meine Arbeiten motivieren, sie können durch die Natur oder durch eindrucksvolle Orte hervorgerufen werden. Sie
    werden aber zu inneren Bildern, die in abstrakter Kunst auf der Leinwand "gespiegelt" werden.
  </p>
</article>
{%endblock content%}
